<div class="support-company-area support-padding fix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="right-caption">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2">
                        <span>Nossos Planos</span>
                        <h2>Jobs para todos</h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top">Após uma pandemia, a população está se re-adaptando ao ambiente, e muitos estão desempegrados devido as oportunidades. Estamos aqui, para ajudar todos os interessados em regressar ao mercado de trabalho ou se tornar um freelancer.</p>
                        <p>Planejamos expandir mais e mais, garantindo a todos, oportunidades. Se você é um recrutador ou um freelancer, registre-se agora no site e busque as melhores oportunidades e ofertas.</p>
                        <a href="/sobre" style="margin-bottom: 20px; width: 100%;" class="btn post-btn">Recrutar</a>
                        <a href="/sobre" style="margin-bottom: 20px; width: 100%;" class="btn post-btn">Procurar um Job</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="support-location-img">
                    <img src="/img/service/support-img.jpg" alt="">
                    <div class="support-img-cap text-center">
                        <p>Desde</p>
                        <span>2022</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>