<div class="testimonial-area testimonial-padding">
    <div class="container">
        <!-- Testimonial contents -->
        <div class="row d-flex justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-10">
                <div class="h1-testimonial-active dot-style">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <!-- founder -->
                            <div class="testimonial-founder  ">
                                <div class="founder-img mb-30">
                                    <img src="img/testmonial/testimonial-founder.png" alt="">
                                    <span>Nome</span>
                                    <p>Cargo - Empresa</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>"Opinião"</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <!-- founder -->
                            <div class="testimonial-founder  ">
                                <div class="founder-img mb-30">
                                    <img src="img/testmonial/testimonial-founder.png" alt="">
                                    <span>Nome</span>
                                    <p>Cargo - Empresa</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>"Opinião"</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <!-- founder -->
                            <div class="testimonial-founder  ">
                                <div class="founder-img mb-30">
                                    <img src="img/testmonial/testimonial-founder.png" alt="">
                                    <span>Nome</span>
                                    <p>Cargo - Empresa</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>"Opinião"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>