<%- include("partials/header.ejs") %>
    <section class="sample-text-area">
        <div class="container box_1170">
            <h3 class="text-heading">Página não encontrada</h3>
            <p>
                Olá visitante, cheque o link ou disponibilidade da página e tente novamente.
            </p>
            <p>Clique <a style="color:red" href="/">aqui</a> para retornar a página principal.</p>
        </div>
    </section>
<%- include("partials/footer.ejs") %>